---
preloadCSS: '/assets/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <picture style="text-align: center;">
        <h1 class="cs-title" style="max-width:60%; margin:150px auto 100px;">{{ title }}</h1>
        <img style="margin:auto; display:block; max-width: 1200px;" src="{{ image }}" alt="{{ imageAlt }}" decoding="async" />
    </picture>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
         
                <!--Article Info-->
                <div class="article-group">
                   
                           <!--Main Article Image-->
       

                   
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->


    </div>
{% endblock %}